src/main/mule/time-zone-api.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="22cbad44-c62c-495e-a100-680387e127fe" basePath="/timezone" >
		<http:listener-connection host="0.0.0.0" port="${http.port}" />
	</http:listener-config>
	<http:request-config name="HTTP_Request_configuration" doc:name="HTTP Request configuration" doc:id="8a464cba-27d6-410c-85a9-78eb59ce8fee" basePath="/api/timezone" >
		<http:request-connection host="worldtimeapi.org" />
	</http:request-config>
	<configuration-properties doc:name="Configuration properties" doc:id="ed525219-6838-4a11-9a6d-38aa6ca23450" file="config.yaml" />
	<flow name="time-zone-apiFlow" doc:id="8bdfda60-a648-45db-914f-b66f324d3664" >
		<http:listener doc:name="Listener" doc:id="7a254bbf-1c8e-414d-8a8d-b577cfe44877" config-ref="HTTP_Listener_config" path="/{region}/{city}"/>
		<logger level="INFO" doc:name="Logger" doc:id="a770fc1a-b5cd-4f09-ae2f-9afbcaec36ce" message="#[attributes.uriParams.city]"/>
		<http:request method="GET" doc:name="Request" doc:id="2bbee1a5-15f0-44fd-bc60-74ab230f7b12" config-ref="HTTP_Request_configuration" path="/{region}/{city}">
			<http:uri-params ><![CDATA[#[output application/java
---
{
	city : attributes.uriParams.city,
	region : attributes.uriParams.region
}]]]></http:uri-params>
		</http:request>
	</flow>
</mule>
